header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(0, 0, 0);
    padding: 0.5rem;
}

header h1{
    font-size: 3.5rem;
    color: white;
}

header li{
    font-size: 1.8rem;
}

header li a{
    color: lightblue !important;
}

header li a:hover{
    color: rgb(151, 151, 151) !important;
}

@media (max-width:900px) {
    header h1{
        font-size: 1.7rem;
    }
    header li{
        font-size: 1rem;
    }
}

