.listItemWrapper ul li{
    background-color: rgb(37, 37, 37);
    border: none;
    color: white;
    font-size: 1.6rem;
}

.listItemWrapper ul li:hover{
    color: lightblue;
    cursor: pointer;
}

@media (max-width: 800px) {
    .listItemWrapper ul li{
        font-size: 1rem;
    }
}

.listItemWrapper .loaderWrapper .spinner-grow{
    background-color: lightblue;
}